.layout-container-height{
    min-height: 0 !important;
    height: calc(100vh - 64px) !important;
}

.SidebarLogo-sm {
    height: 35px;
    width: 90%;
    content: "زیب چت";
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }