@import url('./assets/css/bootstrap.min.css');


@font-face {
  font-family: 'Farhang';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Farhang2FaNum-Medium.woff') format('woff'),
       url('./assets/fonts/Farhang2FaNum-Medium.woff2') format('woff2'),
       url('./assets/fonts/Farhang2FaNum-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Farhang';
  font-weight: 700;
  src: url('./assets/fonts/Farhang2FaNum-Bold.woff') format('woff'),
       url('./assets/fonts/Farhang2FaNum-Bold.woff2') format('woff2'),
       url('./assets/fonts/Farhang2FaNum-Bold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: farhang, tahoma !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
